{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="profile-container">
        <section class="profile-info">
            <div class="personal-info">
                <h2>Edit Profile</h2>
                <hr>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="save-button">Save Changes</button>
                    <a href="{% url 'profile' %}" class="cancel-button">Cancel</a>
                </form>
            </div>
        </section>
    </div>
{% endblock %}