{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="post-content">
            <div class="post-container">
                {% for post in posts %}
                <article class="post entry">

                    <header class="entry-header">
                        <h2 class="entry-title" itemprop="headline">{{ post.title}}</h2>
                        <div class="entry-meta">
                        <span class="post-date">
                            <i class="fa-solid fa-clock"></i> <span class="updated">12th February 2015</span>
                        </span>
                            <span class="post-categories">
                            <i class="fa fa-folder fa-fw"></i> <a href="blog.html" rel="tag">Category</a>
                        </span>

                            <span class="post-comments">
                                <i class="fa fa-comments fa-fw"></i> 10
                             </span>
                            <span class="post-likes">
                                <i class="fa fa-thumbs-up fa-fw"></i> 25
                            </span>
                            <!-- Add "Read more" button -->
                            <a href="{% url 'post_details' post.pk %}" class="read-more">Read full post
                                <i class="fa fa-arrow-right"></i>
                            </a>

                        </div>
                    </header>

                    <div class="entry-image">
                        <img src="http://dummyimage.com/800x250/f3f3f3/d1d1d1.jpg&amp;text=Featured+Image"
                             alt="Blog Post"
                             itemprop="image">
                    </div>

                    <div class="entry-content" itemprop="articleBody">

                    </div>
                </article>
            </div>
            <div class="widget">
                <h3 class="widget-title">Categories</h3>
                <ul>
                    <li><a href="#">All</a></li>
                    <li><a href="#">Ethics</a></li>
                    <li><a href="#">Epistemology</a></li>
                    <li><a href="#">Metaphysics</a></li>
                    <li><a href="#">Political Philosophy</a></li>
                    <li><a href="#">Aesthetics</a></li>
                    <li><a href="#">Philosophy of Science</a></li>
                    <li><a href="#">Philosophy of Religion</a></li>
                    <li><a href="#">Existentialism</a></li>
                    <li><a href="#">Eastern Philosophy</a></li>
                    <li><a href="#">Feminist Philosophy</a></li>
                    <li><a href="#">Memes</a></li>
                </ul>
            </div>
        </div>

{% endblock %}