{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="profile-container">
        <section class="profile-info">
            <div class="profile-image">
                <img src="{{ profile.image.url }}" alt="Profile Image">
            </div>

            <div class="personal-info">
                <h2>Profile info</h2>
                <hr>
                <p><strong>First Name:</strong> {{ profile.first_name }}</p>
                <p><strong>Last Name:</strong> {{ profile.last_name }}</p>
                <p><strong>Date of Birth:</strong> {{ profile.date_of_birth }}</p>
                <p><strong>Username:</strong> {{ request.user }}</p>
                <p><strong>Email:</strong> {{ profile.email }}</p>
                {% if request.user.is_staff and not request.user.is_superuser %}
                    <p><strong>Role:</strong> Moderator </p>
                {% elif request.user.is_superuser %}
                    <p><strong>Role:</strong> Super Admin </p>
                {% else %}
                    <p><strong>Role:</strong> User </p>
                {% endif %}
                <div class="profile-buttons">
                    <a href="{% url 'edit_profile' %}" class="edit-button">Edit Profile</a>
                    <a href="{% url 'delete_profile' %}" class="delete-button">Delete Profile</a>
                </div>
            </div>
        </section>

        <div>
            <h2>My Posts: <a href="{% url 'my_posts' %}">{{ posts.count }}</a></h2>
            <hr>
        </div>

    </div>
{% endblock %}