@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css');

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: #f5f5f5;
    position: relative;
    min-height: 100vh;
    margin: 0;
    padding-bottom: 80px;
}

/* Navbar styles */

nav {
    background: #171c24;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 110px;
    padding: 0 100px;
}

nav .logo {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -1px;
    padding-left: 20px;
}

nav .nav-items {
    display: flex;
    flex: 1;
    padding: 0 0 0 40px;
}

nav .nav-items li {
    list-style: none;
    padding: 0 15px;
}

nav .nav-items li a {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}

nav .nav-items li a:hover {
    color: #ff3d00;
}

nav form {
    display: flex;
    height: 40px;
    padding: 2px;
    background: #1e232b;
    /* min-width: 18% !important; */
    border-radius: 2px;
    border: 1px solid rgba(155, 155, 155, 0.2);
    margin-left: 30px;
}

nav form .search-data {
    width: 100%;
    height: 100%;
    padding: 0 10px;
    color: #fff;
    font-size: 17px;
    border: none;
    font-weight: 500;
    background: none;
}

nav form button {
    padding: 0 15px;
    color: #fff;
    font-size: 17px;
    background: #ff3d00;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

nav form button:hover {
    background: #e63600;
}

nav .menu-icon,
nav .cancel-icon,
nav .search-icon {
    width: 40px;
    text-align: center;
    margin: 0 50px;
    font-size: 18px;
    color: rgb(255, 61, 0);
    cursor: pointer;
    display: none;
}

nav .menu-icon span,
nav .cancel-icon,
nav .search-icon {
    display: none;
}

nav img {
    border: 1px solid black;
    border-radius: 20px;
}

.home-btn a {
    text-decoration: none;
    color: #fff;
}

.custom-dropdown {
    background-color: #171c24;
    color: #fff;
    border: none;
}

/* Style for the top button */
#topButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #171c24;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

/* Footer styles */

.footer {
    background-color: #171c24;
    color: #fff;
    position: absolute;
    width: 100%;
    bottom: 0;
    width: 100%;
}

footer .container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
}

.footer-links a {
    font-size: 20px;
    color: #fff;
    margin-right: 20px;
    text-decoration: none;
}

.footer-links a:hover {
    color: #ff3d00;
    text-decoration: none;
}

.social-icons a {
    color: #fff;
    margin-right: 15px;
    font-size: 20px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-icons .fa-facebook:hover {
    color: #184bb8;
}

.social-icons .fa-twitter:hover {
    color: #4285f4;
}

.social-icons .fa-youtube:hover {
    color: red;
}

.social-icons .fa-instagram:hover {
    color: orange;
}

footer p {
    text-align: center;
    padding-top: 15px;
}


/* Profile page styles */

.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 50px;
}

.profile-info {
    display: flex;
    /*align-items: center;*/
}

.profile-image img {
    width: 150px;
    border-radius: 50%;
    margin-right: 2rem;
}

.personal-info {
    font-size: 20px;
    margin-bottom: 65px;
}

.posts {
    /*margin-top: 2rem;*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    overflow-wrap: break-word;
}

.post {
    border: 1px solid #ccc;
    padding: 1rem;
    margin-bottom: 1rem;
}

.profile-buttons {
    display: flex;
    margin-top: 1rem;
}

.edit-button,
.delete-button {
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    background-color: #007bff;
    color: #fff;
    /*border: 1px solid black;*/
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.delete-button {
    background-color: #dc3545;
}

.edit-button:hover {
    background-color: #0056b3;
}

.delete-button:hover {
    background-color: #910303;
}

.save-button {
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    background-color: #039c12;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.save-button:hover {
    background-color: #01510d;
}

.cancel-button {
    padding: 0.7rem 1rem;
    margin-right: 1rem;
    background-color: #dc3545;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.cancel-button:hover {
    background-color: #545b62;
}

.del-button-yes {
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    background-color: #9d10d3;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.del-button-yes:hover {
    background-color: #4900b4;
}


/* Styling for the blog posts */

.entry-title {
    font-size: 25px;
    margin-bottom: 20px;
    margin-top: 10px;
    color: #333;
}

.entry-title a {
    text-decoration: none;
    background-color: #d9c89f;
    color: #171c24;
    border-radius: 5px;
    /*padding: 7px;*/
    box-shadow: 0 2px 15px rgb(236 167 164 / 90%);

}

.entry-title a:hover {
    font-weight: bold;
}

.entry-meta {
    margin-bottom: 10px;
    color: #666;
}

.entry-meta span {
    margin-right: 10px;
}

.entry-content {
    line-height: 1.6;
    color: #444;
    word-wrap: break-word;
}

.entry-content img {
    height: auto;
    max-width: 100%;
    display: block;
}

.post-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.post-content-single {
    display: flex;
    justify-content: center;
}

.post-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1270px;
    margin-top: 100px;
}

.post {
    flex-basis: calc(50% - 20px);
    margin-bottom: 30px;
    margin-right: 30px;
    max-width: 600px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.entry-content-all img {
    max-width: 100%;
    height: auto;
    display: block;
}

.entry-content-all {
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.page-title {
    max-width: 1000px;
    margin: 30px auto;
    text-align: center;
}

/* Styles for the pagination */

.page-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /*margin-left: 15rem;*/
    margin-bottom: 2rem;
}

.pagination {
    justify-content: center;
    /*margin-right: 250px;*/
    margin-bottom: 50px;
    border: 1px solid #ccc;
    border-radius: 7px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


/* Styles for the greeting banner */
.greeting-banner {
    position: absolute;
    top: 110px;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    animation: fadeInOut 5s ease-in-out;
    display: none;
}

.greeting-banner p {
    margin: 13px;
}

/* Keyframes for the animation */
@keyframes fadeInOut {
    0%, 100% {
        opacity: 0;
    }
    25%, 75% {
        opacity: 1;
    }
}

/* Styles for the icons */
.post-categories,
.post-author,
.post-comments,
.post-likes {
    margin-right: 10px;
    color: #666;
}

/* Styles for the "Read more" button */
.read-more {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    border: 1px solid #007bff;
    color: #007bff;
    text-decoration: none;
    border-radius: 5px;
}

.read-more:hover {
    background-color: #007bff;
    color: white;
}

.read-more i {
    margin-left: 5px;
}


/* Post details styles */

.post-title {
    font-size: 3em;
}

.post-details {
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.comment {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.author-date-details {
    display: flex;
    justify-content: space-between;
}

.balloon {
    position: relative;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.balloon::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -10px;
    border-width: 10px 15px 10px 0;
    border-color: transparent #f0f0f0 transparent transparent;
    transform: translateY(-50%);
}

.comment-section {
    margin-top: 3rem;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.comment-details {
    flex: 1;
}

.comment-author {
    font-weight: bold;
    font-size: 1.5em;
}

.comment-text {
    font-size: 1.3em;
    margin-top: 5px;
}

.comment-date {
    font-size: 1em;
    color: #888;
    margin-top: 5px;
}

.comment-form {
    display: flex;
    align-items: flex-start;
    margin-top: 30px;
}

.comment-form .avatar {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.comment-form input,
.comment-form textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

.comment-form textarea {
    resize: vertical;
}

.comment-form button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.comment-form button:hover {
    background-color: #1206e3;
}

.edit-form-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.content-wrap {
    display: block;
    margin-bottom: 100px;
    width: 80%;
}

.post-actions {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.btn-edit,
.btn-delete {
    margin-right: 5px;
}

/* Like button */
.post-like {
    display: flex;
    align-items: center;
    font-size: 1.5em;
    margin: 1.2em 1.2em 1.2em 0;
}

.btn-like {
    display: inline-block;
    padding: 5px;
    color: #fff;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
    text-decoration: none;
}

.btn-like:hover {
    background-color: #054706;
}


/* Create post styles */

.create-post-form {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.create-post-form h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group textarea {
    resize: vertical;
    height: 150px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.content {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 10px;
    margin: 0 5% 5%;
}

.content button {
    margin: 0 auto;
    font-size: x-large;
}

.tox-tinymce {
    width: 100%;
}


/* Edit profile page */

.img-account-profile {
    height: 10rem;
}

.rounded-circle {
    border-radius: 50% !important;
}

.card {
    box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
}

.card .card-header {
    font-weight: 500;
}

.card-header:first-child {
    border-radius: 0.35rem 0.35rem 0 0;
}

.card-header {
    padding: 1rem 1.35rem;
    margin-bottom: 0;
    background-color: rgba(33, 40, 50, 0.03);
    border-bottom: 1px solid rgba(33, 40, 50, 0.125);
}

.form-control,
.dataTable-input {
    display: block;
    width: 100%;
    padding: 0.875rem 1.125rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1;
    color: #69707a;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #c5ccd6;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.35rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


/* Unauthorized user page styles */

.blog-introduction {
    text-align: center;
    margin-top: 7%;
}

.blog-intro-text {
    font-size: 30px;
    color: #333;
    line-height: 1.6;
}

.results-page-content {
    display: flex;
    justify-content: center;
}

.post-entry {
    margin: 20px 10px 30px 10px;
    max-width: 90rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


/* Responsive */

@media (max-width: 350px) {

    nav .menu-icon,
    nav .cancel-icon,
    nav .search-icon {
        margin: 0 10px;
        font-size: 16px;
    }
}

@media (max-width: 700px) {
    nav {
        display: flex;
        padding: 0 0;
        flex-direction: column;
        align-content: center;
        justify-content: space-evenly;
    }

    nav .logo {
        font-size: 20px;
    }

    .post {
        margin-right: 0;
    }

    .blog-introduction {
        margin-bottom: 10em;
    }

    .blog-intro-text {
        font-size: 20px;
    }

    .author-date-details {
        display: block;
    }

    .comment {
        display: block;
    }

    .balloon {
        overflow-wrap: break-word;
    }
}

@media (max-width: 980px) {

    nav .menu-icon,
    nav .cancel-icon,
    nav .search-icon {
        margin: 0 20px;
    }

    nav form {
        right: 30px;
    }

    .pagination {
        justify-content: center;
        margin: 0;
    }

    .page-content {
        display: block;
    }

    .post-content {
        display: block;
    }

    .page-navigation {
        margin-bottom: 7em;
        display: inline-flex;
        margin-left: 10px;
    }

    .results-page-content {
        display: block;
        margin-bottom: 10em;
    }

    .page-link {
        font-size: 80%;
    }
}

@media (max-width: 1245px) {
    nav {
        padding: 0 0;
    }

    .post-container {
        display: block;
    }
}

@media (max-width: 1380px) {
    nav img {
        display: none;
    }

    nav {
        padding: 0;
    }

    nav .logo {
        /*flex: 2;*/
        text-align: center;
    }

    nav .nav-items {
        position: fixed;
        z-index: 99;
        top: 110px;
        width: 100%;
        left: -100%;
        height: 100%;
        padding: 10px 50px 0 50px;
        text-align: center;
        background: #14181f;
        display: inline-block;
        transition: left 0.3s ease;
    }

    nav .nav-items.active {
        left: 0;
    }

    nav .nav-items li {
        line-height: 40px;
        margin: 30px 0;
    }

    nav .nav-items li a {
        font-size: 20px;
    }

    nav form {
        position: absolute;
        top: 80px;
        right: 50px;
        opacity: 0;
        pointer-events: none;
        transition: top 0.3s ease, opacity 0.1s ease;
    }

    nav form.active {
        top: 115px;
        opacity: 1;
        pointer-events: auto;
    }

    nav form:before {
        position: absolute;
        content: "";
        top: -13px;
        right: 0px;
        width: 0;
        height: 0;
        z-index: -1;
        border: 10px solid transparent;
        border-bottom-color: #1e232b;
        margin: -20px 0 0;
    }

    nav form:after {
        position: absolute;
        content: '';
        height: 60px;
        padding: 2px;
        background: #1e232b;
        border-radius: 2px;
        min-width: calc(100% + 20px);
        z-index: -2;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    nav .menu-icon {
        display: block;
    }

    nav .search-icon,
    nav .menu-icon span {
        display: block;
    }

    nav .menu-icon span.hide,
    nav .search-icon.hide {
        display: none;
    }

    nav .cancel-icon.show {
        display: block;
    }

    .content {
        margin: 0 5% 10%;
    }

    .post {
        margin-right: 0;
    }
}

@media (max-width: 1600px) {
    .page-content {
        align-items: center;
        margin-left: 0;
    }

    .post-container {
        display: block;
        margin: 100px 10px;
    }

    nav form {
        margin-top: 20px;
        width: 230px;
    }

    .post {
        max-width: none;
    }

    .pagination {
        margin-right: 0;
    }
}
