@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: #f5f5f5;
    /*color: white;*/
    position: relative;
    min-height: 100vh;
    margin: 0;
    padding-bottom: 80px;
}

nav {
    background: #171c24;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    /* flex-direction: row-reverse; */
    height: 115px;
    padding: 0 100px;
}

nav .logo {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -1px;
    display: flex;
    gap: 20px;
    text-align: center;
    align-items: center;
    /*margin-right: 300px;*/
}

nav .nav-items {
    display: flex;
    /* flex: 1; */
    padding: 0 0 0 40px;
}

nav .nav-items li {
    list-style: none;
    padding: 0 15px;
    margin-top: 7px;
}

nav .nav-items li a {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
}

nav .nav-items li a:hover {
    color: #ff3d00;
}

nav form {
    display: flex;
    height: 40px;
    padding: 2px;
    background: #1e232b;
    min-width: 18% !important;
    border-radius: 2px;
    border: 1px solid rgba(155, 155, 155, 0.2);
}

nav form .search-data {
    width: 100%;
    height: 100%;
    padding: 0 10px;
    color: #fff;
    font-size: 17px;
    border: none;
    font-weight: 500;
    background: none;
}

nav form button {
    padding: 0 15px;
    color: #fff;
    font-size: 17px;
    background: #ff3d00;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

nav form button:hover {
    background: #e63600;
}

nav .menu-icon,
nav .cancel-icon,
nav .search-icon {
    width: 40px;
    text-align: center;
    margin: 0 50px;
    font-size: 25px;
    color: #fff;
    cursor: pointer;
    display: none;
}

nav .menu-icon span,
nav .cancel-icon,
nav .search-icon {
    display: none;
}

@media (max-width: 1245px) {
    nav {
        padding: 0 50px;
    }
}

@media (max-width: 1840px) {
    nav img {
        display: none;
    }

    nav {
        padding: 0px;
    }

    nav .logo {
        flex: 2;
        font-size: 25px;
        text-align: center;
    }

    nav .nav-items {
        position: fixed;
        z-index: 99;
        top: 70px;
        width: 100%;
        left: -100%;
        height: 100%;
        padding: 10px 50px 0 50px;
        text-align: center;
        background: #14181f;
        display: inline-block;
        transition: left 0.3s ease;
    }

    nav .nav-items.active {
        left: 0px;
    }

    nav .nav-items li {
        line-height: 40px;
        margin: 30px 0;
    }

    nav .nav-items li a {
        font-size: 20px;
    }

    nav form {
        position: absolute;
        top: 80px;
        right: 50px;
        opacity: 0;
        pointer-events: none;
        transition: top 0.3s ease, opacity 0.1s ease;
    }

    nav form.active {
        top: 95px;
        opacity: 1;
        pointer-events: auto;
    }

    nav form:before {
        position: absolute;
        content: "";
        top: -13px;
        right: 0px;
        width: 0;
        height: 0;
        z-index: -1;
        border: 10px solid transparent;
        border-bottom-color: #1e232b;
        margin: -20px 0 0;
    }

    nav form:after {
        position: absolute;
        content: '';
        height: 60px;
        padding: 2px;
        background: #1e232b;
        border-radius: 2px;
        min-width: calc(100% + 20px);
        z-index: -2;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    nav .menu-icon {
        display: block;
    }

    nav .search-icon,
    nav .menu-icon span {
        display: block;
    }

    nav .menu-icon span.hide,
    nav .search-icon.hide {
        display: none;
    }

    nav .cancel-icon.show {
        display: block;
    }
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.content header {
    font-size: 30px;
    font-weight: 700;
}

.content .text {
    font-size: 30px;
    font-weight: 700;
}

.space {
    margin: 10px 0;
}

nav .logo.space {
    color: red;
    padding: 0 5px 0 0;
}

@media (max-width: 980px) {
    nav .menu-icon,
    nav .cancel-icon,
    nav .search-icon {
        margin: 0 20px;
    }

    nav form {
        right: 30px;
    }
}

@media (max-width: 350px) {
    nav .menu-icon,
    nav .cancel-icon,
    nav .search-icon {
        margin: 0 10px;
        font-size: 25px;
    }
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content header {
    font-size: 30px;
    font-weight: 700;
}

.content .text {
    font-size: 30px;
    font-weight: 700;
}

.content .space {
    margin: 10px 0;
}

nav img {
    border: 1px solid black;
    border-radius: 20px;
}

.footer {
    color: #fff;
    padding: 20px 0;
    position: absolute;
    bottom: -30px;
    width: 100%;
}

footer .container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.footer-links a {
    font-size: 20px;
    color: #fff;
    margin-right: 20px;
    text-decoration: none;
}

.footer-links a:hover {
    color: #ff3d00;
    text-decoration: none;
}

.social-icons a {
    color: #fff;
    margin-right: 15px;
    font-size: 20px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-icons .fa-facebook:hover {
    color: #184bb8;
}

.social-icons .fa-twitter:hover {
    color: #4285f4;
}

.social-icons .fa-youtube:hover {
    color: red;
}

.social-icons .fa-instagram:hover {
    color: orange;
}

footer p {
    text-align: center;
    padding-top: 15px;
}

form .error-msg {
    color: red;
}

.right-side-items {
    display: flex;
    flex-direction: row-reverse;
    margin-left: 300px;
}

/* Profile page styles */

.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 50px;
}

.profile-info {
    display: flex;
    align-items: center;
}

.profile-image img {
    width: 150px;
    border-radius: 50%;
    margin-right: 2rem;
}

.personal-info {
    font-size: 18px;
}

.posts {
    margin-top: 2rem;
}

.post {
    border: 1px solid #ccc;
    padding: 1rem;
    margin-bottom: 1rem;
}

.profile-buttons {
    display: flex;
    margin-top: 1rem;
}

.edit-button,
.delete-button {
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    background-color: #007bff;
    color: #fff;
    /*border: 1px solid black;*/
    border-radius: 5px;
    cursor: pointer;
}

.delete-button {
    background-color: #dc3545;
}

.edit-button:hover {
    background-color: #0056b3;
}

.delete-button:hover {
    background-color: #910303;
}


/*!* Styling for the blog post *!*/

.entry-title {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.entry-meta {
    margin-bottom: 10px;
    color: #666;
}

.entry-meta .fa {
    margin-right: 5px;
}

.entry-content {
    line-height: 1.6;
    color: #444;
}

.entry-image img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

/* Center the blog content */
.post-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
}

.post-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1270px;
    margin: 50px 50px;
}

.post {
    flex-basis: calc(50% - 20px);
    margin-bottom: 30px;
    margin-right: 30px;
    max-width: 600px;
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Styles for the widget */
.widget {
    flex-basis: calc(50% - 20px);
    max-height: 400px;
    max-width: 260px;
    overflow-y: auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

.widget-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.widget ul {
    list-style: none;
    padding: 0;
}

.widget li {
    margin-bottom: 5px;
}

.widget a {
    text-decoration: none;
    color: #333;
}

.widget a:hover {
    color: #007bff;
}

/* Styles for the greeting banner */
.greeting-banner {
    position: absolute;
    top: 115px;
    left: 0;
    width: 100%;
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 1.2rem;
    animation: fadeInOut 5s ease-in-out;
    display: none; /* Initially hide the banner */
}

.greeting-banner p {
    margin-bottom: 0;
}

/* Keyframes for the animation */
@keyframes fadeInOut {
    0%, 100% {
        opacity: 0;
    }
    25%, 75% {
        opacity: 1;
    }
}

/* Styles for the icons */
.post-comments,
.post-likes {
    margin-right: 10px;
    color: #666;
}

/* Styles for the "Read more" button */
.read-more {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    border: 1px solid #007bff;
    color: #007bff;
    text-decoration: none;
    border-radius: 5px;
}

.read-more:hover {
    background-color: #007bff;
    color: white;
}

.read-more i {
    margin-left: 5px;
}

