@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css');

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: #f5f5f5;
    position: relative;
    min-height: 100vh;
    margin: 0;
    padding-bottom: 80px;
}

/* Navbar styles */

nav {
    background: #171c24;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 110px;
    padding: 0 100px;
}

nav .logo {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -1px;
    padding-left: 20px;
}

nav .nav-items {
    display: flex;
    flex: 1;
    padding: 0 0 0 40px;
}

nav .nav-items li {
    list-style: none;
    padding: 0 15px;
}

nav .nav-items li a {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}

nav .nav-items li a:hover {
    color: #ff3d00;
}

nav form {
    display: flex;
    height: 40px;
    padding: 2px;
    background: #1e232b;
    /* min-width: 18% !important; */
    border-radius: 2px;
    border: 1px solid rgba(155, 155, 155, 0.2);
}

nav form .search-data {
    width: 100%;
    height: 100%;
    padding: 0 10px;
    color: #fff;
    font-size: 17px;
    border: none;
    font-weight: 500;
    background: none;
}

nav form button {
    padding: 0 15px;
    color: #fff;
    font-size: 17px;
    background: #ff3d00;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

nav form button:hover {
    background: #e63600;
}

nav .menu-icon,
nav .cancel-icon,
nav .search-icon {
    width: 40px;
    text-align: center;
    margin: 0 50px;
    font-size: 18px;
    color: rgb(255, 61, 0);
    cursor: pointer;
    display: none;
}

nav .menu-icon span,
nav .cancel-icon,
nav .search-icon {
    display: none;
}

nav img {
    border: 1px solid black;
    border-radius: 20px;
}


/* Footer styles */

.footer {
    color: #fff;
    padding: 20px 0;
    position: absolute;
    bottom: -30px;
    width: 100%;
}

footer .container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.footer-links a {
    font-size: 20px;
    color: #fff;
    margin-right: 20px;
    text-decoration: none;
}

.footer-links a:hover {
    color: #ff3d00;
    text-decoration: none;
}

.social-icons a {
    color: #fff;
    margin-right: 15px;
    font-size: 20px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-icons .fa-facebook:hover {
    color: #184bb8;
}

.social-icons .fa-twitter:hover {
    color: #4285f4;
}

.social-icons .fa-youtube:hover {
    color: red;
}

.social-icons .fa-instagram:hover {
    color: orange;
}

footer p {
    text-align: center;
    padding-top: 15px;
}


/* Profile page styles */

.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 50px;
}

.profile-info {
    display: flex;
    /*align-items: center;*/
}

.profile-image img {
    width: 150px;
    border-radius: 50%;
    margin-right: 2rem;
}

.personal-info {
    font-size: 20px;
    margin-bottom: 65px;
}

.posts {
    /*margin-top: 2rem;*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    overflow-wrap: break-word;
}

.post {
    border: 1px solid #ccc;
    padding: 1rem;
    margin-bottom: 1rem;
}

.profile-buttons {
    display: flex;
    margin-top: 1rem;
}

.edit-button,
.delete-button {
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    background-color: #007bff;
    color: #fff;
    /*border: 1px solid black;*/
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.delete-button {
    background-color: #dc3545;
}

.edit-button:hover {
    background-color: #0056b3;
}

.delete-button:hover {
    background-color: #910303;
}

.save-button {
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    background-color: #039c12;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.save-button:hover {
    background-color: #01510d;
}

.cancel-button {
    padding: 0.7rem 1rem;
    margin-right: 1rem;
    background-color: #dc3545;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.cancel-button:hover {
    background-color: #545b62;
}

.del-button-yes {
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    background-color: #9d10d3;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.del-button-yes:hover {
    background-color: #4900b4;
}


/* Styling for the blog posts */

.entry-title {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.entry-meta {
    margin-bottom: 10px;
    color: #666;
}

.entry-content {
    line-height: 1.6;
    color: #444;
    word-wrap: break-word;
}

.entry-image img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.post-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.post-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1270px;
    margin-top: 100px;
}

.post {
    flex-basis: calc(50% - 20px);
    margin-bottom: 30px;
    margin-right: 30px;
    max-width: 600px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


/* Styles for the categories widget */
.widget {
    /*flex-basis: calc(50% - 20px);*/
    max-height: 400px;
    max-width: 260px;
    overflow-y: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 100px;
}

.widget-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.widget ul {
    list-style: none;
    padding: 0;
}

.widget li {
    margin-bottom: 5px;
}

.widget a {
    text-decoration: none;
    color: #333;
}

.widget a:hover {
    color: #007bff;
}

/* Styles for the pagination */

.page-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-left: 15rem;
    margin-bottom: 2rem;
}

.pagination {
    border: 1px solid #ccc;
    border-radius: 7px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Styles for the greeting banner */
.greeting-banner {
    position: absolute;
    top: 110px;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    animation: fadeInOut 5s ease-in-out;
    display: none;
}

.greeting-banner p {
    margin: 13px;
}

/* Keyframes for the animation */
@keyframes fadeInOut {
    0%, 100% {
        opacity: 0;
    }
    25%, 75% {
        opacity: 1;
    }
}

/* Styles for the icons */
.post-categories,
.post-author,
.post-comments,
.post-likes {
    margin-right: 10px;
    color: #666;
}

/* Styles for the "Read more" button */
.read-more {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    border: 1px solid #007bff;
    color: #007bff;
    text-decoration: none;
    border-radius: 5px;
}

.read-more:hover {
    background-color: #007bff;
    color: white;
}

.read-more i {
    margin-left: 5px;
}


/* Post details styles */

.post-details {
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.comment-section {
    max-width: 600px;
    padding: 30px;
}

.comment {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.comment-details {
    flex: 1;
}

.comment-author {
    font-weight: bold;
}

.comment-text {
    margin-top: 5px;
}

.comment-date {
    font-size: 12px;
    color: #888;
    margin-top: 5px;
}

.comment-form {
    display: flex;
    align-items: flex-start;
    margin-top: 30px;
}

.comment-form .avatar {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.comment-form input,
.comment-form textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

.comment-form textarea {
    resize: vertical;
}

.comment-form button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.comment-form button:hover {
    background-color: #45a049;
}

.content-wrap {
    display: block;
    margin-bottom: 100px;
}


/* Create post styles */

.create-post-form {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.create-post-form h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group textarea {
    resize: vertical;
    height: 150px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}


/* Responsive */

@media (max-width: 350px) {

    nav .menu-icon,
    nav .cancel-icon,
    nav .search-icon {
        margin: 0 10px;
        font-size: 16px;
    }
}

@media (max-width: 700px) {
    nav {
        display: flex;
        padding: 0 0;
        flex-direction: column;
        align-content: center;
        justify-content: space-evenly;
    }

    nav .logo {
        font-size: 20px;
    }

    .post {
        margin-right: 0;
    }
}

@media (max-width: 980px) {

    nav .menu-icon,
    nav .cancel-icon,
    nav .search-icon {
        margin: 0 20px;
    }

    nav form {
        right: 30px;
    }

    .widget {
        margin-right: 30px;
    }
}

@media (max-width: 1140px) {
    nav img {
        display: none;
    }

    nav {
        padding: 0;
    }

    nav .logo {
        /*flex: 2;*/
        text-align: center;
    }

    nav .nav-items {
        position: fixed;
        z-index: 99;
        top: 110px;
        width: 100%;
        left: -100%;
        height: 100%;
        padding: 10px 50px 0 50px;
        text-align: center;
        background: #14181f;
        display: inline-block;
        transition: left 0.3s ease;
    }

    nav .nav-items.active {
        left: 0;
    }

    nav .nav-items li {
        line-height: 40px;
        margin: 30px 0;
    }

    nav .nav-items li a {
        font-size: 20px;
    }

    nav form {
        position: absolute;
        top: 80px;
        right: 50px;
        opacity: 0;
        pointer-events: none;
        transition: top 0.3s ease, opacity 0.1s ease;
    }

    nav form.active {
        top: 115px;
        opacity: 1;
        pointer-events: auto;
    }

    nav form:before {
        position: absolute;
        content: "";
        top: -13px;
        right: 0px;
        width: 0;
        height: 0;
        z-index: -1;
        border: 10px solid transparent;
        border-bottom-color: #1e232b;
        margin: -20px 0 0;
    }

    nav form:after {
        position: absolute;
        content: '';
        height: 60px;
        padding: 2px;
        background: #1e232b;
        border-radius: 2px;
        min-width: calc(100% + 20px);
        z-index: -2;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    nav .menu-icon {
        display: block;
    }

    nav .search-icon,
    nav .menu-icon span {
        display: block;
    }

    nav .menu-icon span.hide,
    nav .search-icon.hide {
        display: none;
    }

    nav .cancel-icon.show {
        display: block;
    }
}

@media (max-width: 1245px) {
    nav {
        padding: 0 0;
    }

    .widget {
        display: none;
    }

    .post-container {
        display: block;
    }

    /*.post {*/
    /*    width: 600px;*/
    /*    height: 300px;*/
    /*}*/
}

@media (max-width: 1600px) {
    .page-content {
        align-items: center;
        margin-left: 0;
    }

    .post-container {
        display: block;
        margin: 100px 10px;
    }

    nav form {
        margin-top: 20px;
        width: 230px;
    }

    .post {
        max-width: none;
    }
}
