{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'favicon/favicon.ico' %}">
    <title>Philosopher inside you</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
<header>
    <nav>
        <div class="menu-icon">
            <span class="fas fa-bars"></span>
        </div>
        <img src="{% static 'images/Socrates.jpg' %}" alt="logo-img" width="100px">
        <div class="logo">
            <div class>
                Philosopher Inside You
            </div>
        </div>

        <div class="nav-items">
            <li><a href="/">Home</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'create_post' %}">Create post</a></li>
                <li><a href="/posts/">My posts</a></li>
                <li><a href="{% url 'profile' %}">My Profile</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
            {% endif %}
        </div>
        <div class="search-icon">
            <span class="fas fa-search"></span>
        </div>
        <div class="cancel-icon">
            <span class="fas fa-times"></span>
        </div>
        <form action="#">
            <input type="search" class="search-data" placeholder="Search" required>
            <button type="submit" class="fas fa-search"></button>
        </form>
    </nav>
</header>

<main>
    {% block content %}
    {% endblock %}
</main>

<footer class="footer" style="background-color: #171c24;">
    <div class="container">
        <div class="footer-links">
            <a href="/contact/">Contacts</a>
            <a href="/about/">About</a>
        </div>
        <div class="social-icons">
            <a href="#" target="_blank"><i class="fab fa-facebook"></i></a>
            <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank"><i class="fab fa-youtube"></i></a>
            <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
        </div>
    </div>
    <p>© 2023 Boris Hristov. All rights reserved.</p>
</footer>

<script src="{% static 'js/navBarResponsive.js' %}"></script>

</body>
</html>
