{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'register-form.css' %}">

    <div class="signup-form">
        <form action="{% url 'register' %}" method="post">
            {% csrf_token %}
            {{ form.media }}
            <h2>Register</h2>
            <p class="hint-text">Create your account. It's free and only takes a minute.</p>
            <div class="form-group">
                <input type="email" class="form-control" name="{{ form.email.name }}"
                       placeholder="Email" required>
                {% if form.email.errors %}
                    <span class="error-msg">{{ form.email.errors.as_text }}</span>
                {% endif %}
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="{{ form.username.name }}"
                       placeholder="Username" required>
                {% if form.username.errors %}
                    <span class="error-msg">{{ form.username.errors.as_text }}</span>
                {% endif %}
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="{{ form.password1.name }}"
                       placeholder="Password" required>
                {% if form.password1.errors %}
                    <span class="error-msg">{{ form.password1.errors.as_text }}</span>
                {% endif %}
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="{{ form.password2.name }}"
                       placeholder="Confirm Password" required>
                {% if form.password2.errors %}
                    <span class="error-msg">{{ form.password2.errors.as_text }}</span>
                {% endif %}
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="{{ form.first_name.name }}"
                       placeholder="First name" required>
                {% if form.first_name.errors %}
                    <span class="error-msg">{{ form.first_name.errors.as_text }}</span>
                {% endif %}
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="{{ form.last_name.name }}"
                       placeholder="Last name" required>
                {% if form.last_name.errors %}
                    <span class="error-msg">{{ form.last_name.errors.as_text }}</span>
                {% endif %}
            </div>

            <div class="form-group">
                <input type="date" class="form-control" name="{{ form.date_of_birth.name }}"
                       placeholder="Date of birth"
                       pattern="^(?:0[1-9]|1[0-2])/(?:0[1-9]|[12]\d|3[01])/(?:(?:19|20)\d\d)$"
                       required>
                {% if form.date_of_birth.errors %}
                    <span class="error-msg">{{ form.date_of_birth.errors.as_text }}</span>
                {% endif %}
            </div>
{#            <div class="form-group">#}
{#                <label for="file">Upload your avatar:</label>#}
{#                <input type="file" class="form-control" name="{{ form.picture.name }}"#}
{#                       accept="image/*" placeholder="Avatar">#}
{#                {% if form.picture.errors %}#}
{#                    <span class="error-msg">{{ form.picture.errors.as_text }}</span>#}
{#                {% endif %}#}
{#            </div>#}
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-lg btn-block">Register Now</button>
            </div>
            <div class="form-group">
                Already have an account? <a href="{% url 'login' %}">Sign in</a>
            </div>
        </form>
    </div>
{% endblock %}



