{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="post-content">
        <div class="post-container content-wrap">
            <article class="post-details">
                <!-- Rest of the content from the original post here -->
                <header class="entry-header">
                    <h2 class="entry-title" itemprop="headline">{{ post.title }}</h2>
                    <div class="entry-meta">
                        <span class="post-date">
                            <i class="fa-solid fa-clock"></i> <span class="updated">{{ post.created_on|date:"d M Y" }}</span>
                        </span>
                        <span class="post-categories">
                            <i class="fa fa-folder fa-fw"></i> <a href="#" rel="tag">{{ post.category }}</a>
                        </span>

                        <span class="post-likes">
                                <i class="fa fa-thumbs-up fa-fw"></i> {{ post.like_set.count }}
                            </span>
                    </div>
                </header>

                <div class="entry-image">
                    <img src="http://dummyimage.com/800x250/f3f3f3/d1d1d1.jpg&amp;text=Featured+Image"
                         alt="Blog Post"
                         itemprop="image">
                </div>

                <div class="entry-content" itemprop="articleBody">
                    <p>{{ post.content }}</p>
                </div>

                <div class="comment-section">
                    <h2>Comments</h2>
                    <hr>

                    <!-- Sample Comments -->
                    <div class="comment">
                        <img src="{% static 'images/sample-avatar.jpg' %}" alt="Avatar" class="avatar">
                        <div class="comment-details">
                            <p class="comment-author">John Doe</p>
                            <p class="comment-date">Posted on July 28, 2023</p>
                            <p class="comment-text">This is a sample comment. Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit.</p>
                        </div>
                    </div>

                    <div class="comment">
                        <img src="{% static 'images/sample-avatar.jpg' %}" alt="Avatar" class="avatar">
                        <div class="comment-details">
                            <p class="comment-author">Jane Smith</p>
                            <p class="comment-date">Posted on July 27, 2023</p>
                            <p class="comment-text">Great article! Thanks for sharing this valuable information. </p>
                        </div>
                    </div>

                    <!-- New Comment Form -->
                    <h3>Add a Comment</h3>
                    <form class="comment-form">
                        <img src="{% static 'images/sample-avatar.jpg' %}" alt="Your Avatar" class="avatar">
                        <div class="comment-details">
                            <textarea name="comment" placeholder="Your Comment" required></textarea>
                            <button type="submit">Post Comment</button>
                        </div>
                    </form>
                </div>

            </article>
        </div>
    </div>
{% endblock %}