{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="post-content-single">
        <div class="post-container content-wrap">
            <article class="post-details">
                <header class="entry-header">
                    <h2 class="post-title" itemprop="headline">{{ post.title }}</h2>
                    <div class="entry-meta">
                        <span class="post-author"><i class="fa-solid fa-user"></i>
                            <b>Author: </b>{{ post.user }}
                        </span>
                        <span class="post-date">
                            <i class="fa-solid fa-clock"></i>
                            <b>Created on:</b> <span class="updated">{{ post.created_on|date:"d M Y" }}</span>
                        </span>
                        <span class="post-categories">
                            <b>Category:</b> <i class="fa fa-folder fa-fw"></i>
                            <a href="{% url 'category_view' post.category.slug %}" rel="tag">{{ post.category }}</a>
                        </span>
                        <span class="post-likes">
                            <i class="fa fa-thumbs-up fa-fw"></i><b>Total likes:</b> {{ post.like_set.count }}
                        </span>
                    </div>
                    <hr>
                </header>

                <div class="entry-content" itemprop="articleBody">
                    {{ post.content | safe }}
                </div>
                <hr>

                {% if user.is_authenticated and user == post.user or request.user.is_superuser %}
                    <div class="post-actions">
                        <a href="{% url 'edit_post' pk=post.pk %}" class="btn-edit btn btn-success"
                           title="Edit Post">Edit Post <i class="fa fa-edit"></i></a>
                        <a href="{% url 'delete_post' pk=post.pk %}" class="btn-delete btn btn-danger"
                           title="Delete Post">Delete Post <i class="fa fa-trash"></i></a>
                    </div>
                {% endif %}

                {% if user.is_authenticated and user != post.user or request.user.is_staff %}
                    {% if user_liked %}
                        <div class="post-like">
                            <a href="{% url 'like_post' post.pk %}"
                               class="btn btn-outline-primary btn-lg"
                               title="Unlike Post">
                                Unlike <i class="fa-solid fa-thumbs-down"></i>
                            </a>
                        </div>
                    {% else %}
                        <div class="post-like">
                            <a href="{% url 'like_post' post.pk %}"
                               class="btn btn-outline-primary btn-lg"
                               title="Like Post">
                                Like <i class="fa fa-thumbs-up"></i>
                            </a>
                        </div>
                    {% endif %}
                {% endif %}

                <div id="comments" class="comment-section">
                    <h2>Comments</h2>
                    <hr>
                    {% for comment in post.comment_set.all %}
                        <div class="comment balloon">
                            <img src="{{ comment.user.profile.image.url }}" alt="Avatar" class="avatar">
                            <div class="comment-details">
                                <div class="author-date-details">
                                    <p class="comment-author">{{ comment.user.username }}</p>
                                    <p class="comment-date">Posted on {{ comment.created_on|date:"F d, Y H:i:s" }}</p>
                                </div>
                                <div class="comment-content">
                                    <p id="comment-{{ comment.id }}-content"
                                       class="comment-text">{{ comment.content }}</p>
                                </div>

                                {% if request.user == comment.user or request.user.is_staff %}
                                    <a href="{% url 'edit_comment' comment.id %}" class="btn btn-success">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <a href="{% url 'delete_comment' comment.pk %}" class="btn btn-danger">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}

                    <h3>Add a Comment</h3>
                    <form class="comment-form" method="post" action="{% url 'create_comment' pk=post.pk %}#comments"
                          onsubmit="return validateComment()">
                        {% csrf_token %}
                        <img src="{{ user.profile.image.url }}" alt="Your Avatar" class="avatar">
                        <div class="comment-details">
                            <textarea id="comment-content" name="content" placeholder="Your comment"
                                      required></textarea>
                            <button type="submit">Comment</button>
                            {% if form.content.errors %}
                                <p class="error">{{ form.content.errors }}</p>
                            {% endif %}
                        </div>
                    </form>
                </div>

            </article>
        </div>
    </div>

    <button id="topButton" onclick="scrollToTop()">
        <span><i class="fa-solid fa-angles-up"></i></span>
    </button>

    <script src="{% static 'js/goToTopButton.js' %}"></script>
    <script src="{% static 'js/commentInputValidation.js' %}"></script>
{% endblock %}